!!!
%html
 %head{:lang => "ja"}
  %meta{:charset => "utf-8"}
  %link{:rel => "stylesheet", :href => "css/test.css"}
  %body
   %div{:class => "rainbow"}
    %maquee
     %h1 test
     %h2 test
     %h3 test
  / body end
