%# -*- coding: Windows-31J -*-
% fruits = [ "apple", "banana", "cherry", "fig", "grape" ]
<ul>
% fruits.each {|fruit|
% if /a/ =~ fruit
  <li><%= fruit %>: I like it.</li>
% else
  <li><%= fruit %></li>
% end
% }
</ul>
